@{
    ViewBag.Title = "Home Page";
}

<h1 class="mt-4">Dashboard</h1>
<i class="fas fa-tachometer-alt"></i>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad Clientes</h6>
                        <h6 id="cantidadClientes" >0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-user fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad Ventas</h6>
                        <h6 id="cantidadVenta">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad Producto</h6>
                        <h6 id="cantidadProducto">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-boxes fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-tags me-1"></i>
        Historial de Ventas
    </div>

    <div class="card-body">
        <form action="@Url.Action("ExportarVenta","Home")" method="post">
            <div class="row align-items-end">
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha Inicio</label>
                        <input class="form-control" type="text" id="txtFechaInicio" name="fechainicio" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha Fin</label>
                        <input class="form-control" type="text" id="txtFechaFin" name="fechafin" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Id Transaccion</label>
                        <input class="form-control" type="text" id="txtidTransaccion" name="idtransaccion" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="d-grid mb-2">
                        <button class="btn btn-primary" type="button" id="btnBuscar"><i class="fa fa-search"></i>Buscar</button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class=" d-grid mb-2">
                        <button class="btn btn-success" type="submit"><i class="fa fa-file-excel"></i>Exportar</button>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table id="tabla" class="display cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Fecha Venta</th>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Id Transaccion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts{
     

    <script>
        //lo que esta dentro de documente se ejecuta al cargar la pagina web
        $(document).ready(function (){

            //estas 2 lineas mustran la fecha en los texbox
            $("#txtFechaInicio").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date());
            $("#txtFechaFin").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date());

            //ajax para mostrar informacion en h6
            jQuery.ajax({

                url: '@Url.Action("VistaDashboard", "Home")',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    /* var objeto = data.resultado;
                       $("#cantidadClientes").text(objeto.TotalCliente);
                       $("#cantidadVenta").text(objeto.TotalVenta);
                       $("#cantidadProducto").text(objeto.TotalProducto);*/

                    $("#cantidadClientes").text(data.resultado.TotalCliente);
                    $("#cantidadVenta").text(data.resultado.TotalVenta);
                    $("#cantidadProducto").text(data.resultado.TotalProducto);

                },

            });

            //los parametros fechaInicio,fechaFin,idTransaccion son los que estan
            //en el metodo get llamado ListaReporte

            var URL = '@Url.Action("ListaReporte", "Home")' +
                "?fechaInicio=" + $("#txtFechaInicio").val() +
                "&fechaFin=" + $("#txtFechaFin").val() +
                "&idTransaccion=" + $("#txtidTransaccion").val()

            tabladata = $("#tabla").DataTable({

                responsive: true,
                ordering: false,
                "ajax": {
                    url: URL,//variable contiene el url
                    type: 'GET',
                    dataType: 'json'
                },
                "columns": [
                    { "data": "FechaVenta" },
                    { "data": "Cliente" },
                    { "data": "Producto" },
                    { "data": "Precio" },
                    { "data": "Cantidad" },
                    { "data": "Total" },
                    { "data": "IdTransaccion" },


                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.13.3/i18n/es-MX.json"
                }

            });

        });

        //boton buscar
        $("#btnBuscar").on("click", function () {

            var nuevaURL = '@Url.Action("ListaReporte", "Home")' +
            "?fechaInicio=" + $("#txtFechaInicio").val() +
            "&fechaFin=" + $("#txtFechaFin").val() +
            "&idTransaccion="+$("#txtidTransaccion").val()

            tabladata.ajax.url(nuevaURL).load();

        })

    </script>
    
    
    
    
    

}


